.graph-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: max-content;
}

.graph-container h2 {
  color: #ef5a00;
  margin-bottom: 20px;
}

/* .variable-selector .active {
  color: black;
  border-color: black;
  border-width: 1px;
} */

.variable-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.variable-selector button {
  margin: 2vh 1vw 2vh 1vw;
  /* background-color: transparent; */
  /* color: #ef5a00;
  border: 1px solid #ef5a00; */
  border-radius: 1vh;
  padding: 1vh;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

/* .variable-selector button.active {
  color: black;
  border-color: black;
  border-width: 1px;
}

.variable-selector button:hover{
  color: black;
  border-color: black;
  border-width: 1px;
} */

.add-progress-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: center;
}

.add-progress-form h3 {
  color: #ef5a00;
  margin-bottom: 20px;
}

.add-progress-form input {
  margin: 10px;
}

.add-progress-form button {
  background-color: #ef5a00;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.add-progress-form button:hover {
  background-color: black;
}
